.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.card {
  width: 300px;
  border-radius: 15px;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.image {
  height: 75px;
  width: 75px;
  align-self: flex-end;
}

.heading1 {
  font-family: 'Roboto';
  font-size: 20px;
  padding: 15px 3px 3px;
  margin: 0px;
}

.para1 {
  font-family: 'Roboto';
  font-size: 15px;
  margin: 3px 10px 3px 3px;
}
